.testing {
	font-size: 111px;
	color: #224;
}

.font-body{
  font-family: 'Open Sans', sans-serif;
}

.font-header{
  font-family: 'Roboto', sans-serif;
}

.parallax {
    /* The image used */
    background-image: url(../images/wood.jpg);
    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}