@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100|Lato:100');

.font-body{
  font-family: 'Open Sans', sans-serif;
}

.font-header{
  font-family: 'Roboto', sans-serif;
  font-size: 45pt;
  color: white;
}

.font-intro{
  font-family: 'Lato', sans-serif;
  font-size: 67pt;
  color: white;
  text-align: center;
  padding-top: 35vh;
}

.parallax {
    height: 100vh;
    background-image: url(../images/wood.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}