
.font-body{
  font-family: 'Open Sans', sans-serif;
}

.font-header{
  font-family: 'Roboto', sans-serif;
  font-size: 45pt;
  color: white;
}

.font-intro{
  font-family: 'Roboto';
  font-size: 50pt;
  color: white;
  text-align: center;
  padding-top: 40vh;
}

.parallax {
    height: 100vh;
    background-image: url(../images/wood.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}